@charset "utf-8";

/* CSS Resets */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* Styles */

:root {
    --main-font: 'Roboto', sans-serif;

    --primary-color: #1992d4;
    --secondary-color: #f0b429;
    --off-white: #e2e8f0;
    --text-grey: #636363;
    --text-dark: #404040;
    --text-white: #f5f5f5;

    --shadow-color: 215deg 12% 57%;
    --shadow-elevation-medium: 0.5px 0.5px 0.7px hsl(var(--shadow-color) / 0.43),
        1.4px 1.4px 2.1px -1px hsl(var(--shadow-color) / 0.4),
        3.7px 3.8px 5.6px -2px hsl(var(--shadow-color) / 0.36),
        9.3px 9.6px 14px -3px hsl(var(--shadow-color) / 0.32);
    --shadow-elevation-high: 0.5px 0.5px 0.7px hsl(var(--shadow-color) / 0.46),
        2.6px 2.7px 3.9px -0.5px hsl(var(--shadow-color) / 0.44),
        5.2px 5.4px 7.9px -1px hsl(var(--shadow-color) / 0.42),
        9.7px 10px 14.6px -1.5px hsl(var(--shadow-color) / 0.39),
        17.2px 17.7px 25.9px -2px hsl(var(--shadow-color) / 0.37);
}

html {
    font-family: var(--main-font);
}

.app {
    height: 100%;
    color: color(--text-dark);

    display: grid;
    grid-template-areas:
        'sidebar header'
        'sidebar main';
    grid-template-columns: clamp(300px, 20%, 450px) 4fr;
    grid-template-rows: 200px 4fr;
}

.sidebar {
    grid-area: sidebar;
    background-color: var(--primary-color);
    color: var(--text-white);
    padding: 24px;
}

.header {
    grid-area: header;
    background-color: var(--text-white);

    display: grid;
    grid-template-rows: 1fr 1.5fr;
    grid-template-columns: 1.5fr 1fr;
    padding: 24px;
    gap: 16px 32px;
}

.header__search-input {
    display: flex;
    gap: 8px;
    padding: 0 16px;
    width: 100%;
}

.header__search-input button {
    border-radius: 6px;
    cursor: pointer;
    padding: 1px;
    overflow: hidden;
    height: 32px;
    width: 32px;
    display: grid;
    place-content: center;
}

.header__search-input input[type='search'] {
    border: none;
    border-radius: 100vmax;
    padding: 4px 16px;
    background-color: var(--off-white);
    width: 100%;
}

.header__search-input input[type='search']::placeholder {
    color: var(--text-grey);
}

.header__user-area {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 16px;
    gap: 32px;
}

.header__user-area button {
    border-radius: 8px;
    height: 60px;
    width: 60px;
    display: grid;
    place-content: center;
}

.header__user-area span {
    font-size: 1.3rem;
    font-weight: 500;
    white-space: nowrap;
}

.header__greeting {
    display: flex;
    align-items: center;
    padding-inline-start: 16px;
    gap: 16px;
}

.avatar {
    max-height: 60px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: var(--shadow-elevation-medium);
}

.header__greeting-avatar {
    max-height: 80px;
}

.header__greeting span,
.header__greeting h2 {
    font-weight: 500;
}

.header__actions {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: clamp(1rem, 4.2vw - 2.25rem, 3rem);
    padding: 16px;
}

.header__actions button {
    background-color: var(--primary-color);
    border-radius: 100vmax;
    color: var(--text-white);
    max-width: 200px;
    min-width: 90px;
    flex: 1;
    padding: 8px 16px;
    box-shadow: var(--shadow-elevation-medium);
}

.main-content {
    grid-area: main;
    background-color: var(--off-white);
    box-shadow: var(--shadow-elevation-medium) inset;

    display: grid;
    grid-template-areas:
        'projects announcements'
        'projects trending';
    grid-template-columns: 5fr clamp(300px, 20vw, 600px);
    grid-template-rows: 2.5fr 2fr;
    padding: 24px;
    padding-inline-start: 0px;
}

.main-content__projects {
    grid-area: projects;
    height: calc(100dvh - 200px - 24px - 24px - 32px);
}

.main-content__projects-title {
    margin-inline-start: 24px;
}

.main-content__projects h2 {
    font-size: 1.3rem;
}

.main-content__projects h2,
.main-content__projects h3 {
    font-weight: 500;
}

.main-content__projects p {
    color: var(--text-grey);
}

.main-content__projects-list {
    padding-block-start: 8px;
    padding-inline: 24px;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-auto-rows: 250px;
    gap: 24px;
    overflow-y: auto;
    height: 100%;
}

.project-card {
    position: relative;
    background-color: var(--text-white);
    box-shadow: var(--shadow-elevation-medium);
    border-radius: 8px;
    overflow: hidden;
    padding: 24px 32px 32px;
    display: flex;
    flex-direction: column;
    transition: transform 375ms linear, box-shadow 375ms linear;
    will-change: transform;
}

.project-card::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 8px;
    background-color: var(--secondary-color);
}

.project-card:hover {
    transform: scale(1.05) translate(-5px, -5px);
    box-shadow: var(--shadow-elevation-high);
    transition: transform 200ms linear, box-shadow 200ms linear;
}

.project-actions {
    margin-block-start: auto;
    margin-inline-start: auto;
    display: flex;
    gap: 16px;
}

.project-actions button {
    padding: 0;
    height: 32px;
    width: 32px;
    border-radius: 8px;
    display: grid;
    place-content: center;
}

.project-actions button .icon {
    fill: var(--text-dark);
}

.main-content__announcements {
    grid-area: announcements;
    background-color: #3a3838;
}

.main-content__trending {
    grid-area: trending;
    background-color: #706d6d;
}

.sidebar__logo {
    gap: 10px;
    margin-block-end: 48px;
}

.sidebar__logo h1 {
    font-weight: 500;
}

.sidebar__logo .menu-icon {
    height: 48px;
}

.sidebar__menu {
    list-style: none;
    padding: 0;
}

.sidebar__menu a {
    gap: 24px;
}

.sidebar__menu li {
    padding: 6px 12px;
}

.sidebar__menu li:not(:last-of-type) {
    margin-block-end: 6px;
}

.sidebar__menu li:nth-of-type(6) {
    margin-block-end: 48px;
}

.sidebar__logo,
.sidebar__menu a {
    display: flex;
    align-items: center;
}

.sidebar__menu a:hover {
    text-decoration: underline;
}

.sidebar__menu a {
    color: inherit;
    text-decoration: none;
}

.sidebar__menu a span {
    font-size: 1.4rem;
    font-weight: 500;
}

.icon {
    height: 24px;
}

.menu-icon path {
    fill: var(--text-white);
}

button {
    background-color: var(--text-white);
    border: none;
    cursor: pointer;
    transition: filter 250ms ease-in-out;
}

button:hover {
    filter: brightness(0.8);
}

.multi-line-ellipsis {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}
