@charset "utf-8";

/* CSS Resets */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* Styles */

:root {
    --main-font: 'Roboto', sans-serif;

    --primary-color: #1992D4;
    --secondary-color: #F0B429;
    --off-white: #E2E8F0;
    --text-grey: #636363;
    --text-dark: #202020;
}

html {
    font-family: var(--main-font);
}

.app {
    height: 100%;

    display: grid;
    grid-template-areas:
        "sidebar header"
        "sidebar main";
    grid-template-columns: minmax(300px, 1fr) 4fr;
    grid-template-rows: 200px 4fr;
}

.sidebar {
    grid-area: sidebar;
    background-color: rgb(167, 167, 167);
}

.header {
    grid-area: header;
    background-color: rgb(114, 106, 106);
}

.main-content {
    grid-area: main;
    background-color: grey;
}